
.container {
    display: flex;
    justify-content: space-around;
    height: 85vmin;

}

.d-flex1 {
    background-color: white;
    width: 40%;
    padding: 10px 0px 0px 40px;
    border-top: 4px solid #06aabc;
    
}

.d-flex2 {
    background-color: white;
    width: 40%;
    padding: 9px 0px 0px 40px;
    border-top: 4px solid #ca5f25;
}

body {
    background-color: #e6e5e4;
    font-family: 'Nunito', sans-serif;
}

/* #06aabc #ca5f25 */

.icons {
    display: flex;
    justify-content: space-around;
}

.fa-check {
    color: #06aabc;
    font-size: 64px;
}

.fa-times {
    color: #ca5f25;
    font-size: 64px;
}

label {
    display: block;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.6);
}

input {
    width: 80%;
    border: 2px solid  #e6e5e4;
    padding: 10px 10px 10px 10px;
    border-radius: 2px;
    margin: 04px 0px 15px 0px;
}

input:focus {
    cursor: pointer;
    border: none;
    background-color: #e6e5e4;
}

p {
    text-align: center;
    font-weight: 500;
}

.icered {
    color: red;
}


